<div class="neighbor-group">
  <div class="chat-group">
    <h3 class="title">
      <span class="topParent">主目录</span><span>联系人</span>
      <p class="f_r date">
        星期一,June 9 2016
      </p>
    </h3>
    <div  class="chat-list">
      <div class="search">
        <button></button>
        <input type="text" placeholder="搜索">
      </div>
      <div  class="chat-list-item">
        <img src="" alt="">
        <div>
          <p class="name"></p>
          <p class="info">媒体记者,A单元1106</p>
        </div>
        <i class="status"></i>
      </div>
      <div  class="chat-list-item">
      </div>
      <div  class="chat-list-item">
      </div>
      <div  class="chat-list-item">
      </div>
      <div  class="chat-list-item">
      </div>
      <div  class="chat-list-item">
      </div>
      <div  class="chat-list-item">
      </div>
      <div  class="chat-list-item">
      </div>
    </div>

    <div class="chat_content">
      <div class="chat_info1"></div>
      <div class="chat_info2"></div>

    </div>
  </div>
</div>
